*{
    box-sizing: border-box;
}

#login-form{
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
    padding: 0 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;

}

#login-form .uk-inline{
    width: 100%;
}

.error_text{
    color: rgb(121, 36, 36) ;
    font-weight: 600;
}

.header_logo{
    height:100px;
}

.main_logo img{
    text-align: center;
}

.menu_icon{
    cursor: pointer;
}
