*{
    box-sizing: border-box;
}

#login-form{
    margin: 0 auto;
    max-width: 410px;
    width: 100%;
    padding: 0 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;

}

#login-form .uk-inline{
    width: 100%;
}

.error_text{
    color: rgb(121, 36, 36) ;
    font-weight: 600;
}

.header_logo{
    height:100px;
}

.main_logo img{
    text-align: center;
}

.menu_icon{
    cursor: pointer;
}

/* table_edit */

.table_edit-header{
    display: flex;
    justify-content: space-between;
}

.table_edit-content-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 3px;
    padding: 15px 15px 30px;
    
    position: relative;
}

.table_edit-content-item .actions_block{
    display: none;

    position: absolute;
    gap: 10px;
}

.table_edit-content-item:hover .actions_block{
    display: flex;
}

.table_edit-header-item{
    margin-left: 5px;
    margin-right: 5px;
}

.table_top_panel{
    display: flex;
    justify-content: space-between;
}

.red{
    color: red !important;
}

/* Modals */
#modal_delete_table .uk-modal-title span{
    font-weight: 700;
}

.form-edit{
    display: flex;
    justify-content: center;
}

.form-add{
    max-width: 400px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.first_text{
    font-weight: 1000;
}

#manufacture_country{
    margin-bottom: 15px;
}

#manufacture_label_name{
    color: red;
    font-size: 12px;
}

#category_name{
    margin-bottom: 15px;
}

.form-add .uk-margin{
    display: flow;
    justify-content: flex-start;
    flex-direction: row;
}

